html{
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('./images/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg');
}

.about{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
}

.about h1 {
    color: rgb(190, 22, 176);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

.about p {
    font-size:15px;
    color: black;
    line-height: 3rem;
    margin-bottom: 5rem;
}

.about img{
    border-radius: 50%;
    height: 300px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
}


.pageants h1 {
    color: rgb(190, 22, 176);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    text-align: center;
}

.pageants p {
    font-size:20px;
    color: black;
    line-height: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.column {
    float: left;
    width: 45%;
    padding: 15px;
    position: relative;

  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.pageants .column  .text-block {
    position: absolute;
    
    bottom: 20px;
    right: 150px;
    background-color: rgb(240, 196, 203);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    
  }

  .pageants .column  .text-block h4{
    font-size: 20px;
    
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
     }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
   }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    object-fit: cover;
  
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
  }
.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: pink;
    color: black;
  }
  

  .topnav a.active {
    background-color: pink;
    color: black;
  }